In [72]:
from datetime import datetime
import matplotlib
import matplotlib.pyplot as plt
import os
import pandas as pd
import pickle
import random
import re

%matplotlib inline

os.listdir()

## Gather

In [3]:
edf = pd.read_csv('all_energy_statistics.csv')

## Assess 1

In [4]:
edf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 7 columns):
country_or_area          1189482 non-null object
commodity_transaction    1189482 non-null object
year                     1189482 non-null int64
unit                     1189482 non-null object
quantity                 1189482 non-null float64
quantity_footnotes       163946 non-null float64
category                 1189482 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 63.5+ MB

In [5]:
edf.sample(5)

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
476255,Jersey,Gas Oil/ Diesel Oil - Transformation in electr...,1997,"Metric tons, thousand",15.379,NaN,gas_oil_diesel_oil
662111,Nicaragua,Liquefied petroleum gas (LPG) - production fro...,2007,"Metric tons, thousand",16.000,NaN,liquified_petroleum_gas
238141,Isle of Man,Electricity - total net installed capacity of ...,2012,"Kilowatts, thousand",1.000,NaN,electricity_net_installed_capacity_of_electric...
676995,Spain,Liquified Petroleum Gas (LPG) - Consumption by...,2008,"Metric tons, thousand",11.000,NaN,liquified_petroleum_gas
577342,Pakistan,Kerosene-type Jet Fuel - Consumption by domest...,1999,"Metric tons, thousand",641.000,NaN,kerosene_type_jet_fuel

In [6]:
edf.country_or_area.describe()

count     1189482
unique        243
top       Germany
freq        20422
Name: country_or_area, dtype: object

In [7]:
edf.unit.value_counts()

Metric tons,  thousand     759859
Terajoules                 178937
Kilowatt-hours, million    147741
Cubic metres, thousand      52032
Kilowatts,  thousand        50229
Metric Tons                   684
Name: unit, dtype: int64

In [8]:
edf[edf.category.isnull()]

Empty DataFrame
Columns: [country_or_area, commodity_transaction, year, unit, quantity, quantity_footnotes, category]
Index: []

In [9]:
edf[edf.quantity_footnotes.notnull()]

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
622,Colombia,Additives and Oxygenates - Production,2014,"Metric tons, thousand",34.530,1.0,additives_and_oxygenates
1369,Colombia,Additives and Oxygenates - Total energy supply,2014,"Metric tons, thousand",34.530,1.0,additives_and_oxygenates
1886,Colombia,Additives and Oxygenates - transfers and recyc...,2014,"Metric tons, thousand",34.530,1.0,additives_and_oxygenates
2250,Jordan,Additives and Oxygenates - Transformation,2014,"Metric tons, thousand",103.000,1.0,additives_and_oxygenates
2251,Jordan,Additives and Oxygenates - Transformation,2013,"Metric tons, thousand",101.000,1.0,additives_and_oxygenates
2252,Jordan,Additives and Oxygenates - Transformation,2012,"Metric tons, thousand",107.000,1.0,additives_and_oxygenates
2253,Jordan,Additives and Oxygenates - Transformation,2011,"Metric tons, thousand",131.000,1.0,additives_and_oxygenates
2753,Jordan,Additives and Oxygenates - Transformation in o...,2014,"Metric tons, thousand",103.000,1.0,additives_and_oxygenates
2754,Jordan,Additives and Oxygenates - Transformation in o...,2013,"Metric tons, thousand",101.000,1.0,additives_and_oxygenates
2755,Jordan,Additives and Oxygenates - Transformation in o...,2012,"Metric tons, thousand",107.000,1.0,additives_and_oxygenates
2756,Jordan,Additives and Oxygenates - Transformation in o...,2011,"Metric tons, thousand",131.000,1.0,additives_and_oxygenates
3018,United States,Animal waste - Consumption by commerce and pub...,2014,Terajoules,42805.000,1.0,animal_waste
3019,United States,Animal waste - Consumption by commerce and pub...,2013,Terajoules,35001.000,1.0,animal_waste
3020,United States,Animal waste - Consumption by commerce and pub...,2012,Terajoules,21879.000,1.0,animal_waste
3021,United States,Animal waste - Consumption by commerce and pub...,2011,Terajoules,16574.000,1.0,animal_waste
3022,United States,Animal waste - Consumption by commerce and pub...,2010,Terajoules,14394.000,1.0,animal_waste
3023,United States,Animal waste - Consumption by commerce and pub...,2009,Terajoules,52031.000,1.0,animal_waste
3024,United States,Animal waste - Consumption by commerce and pub...,2008,Terajoules,57019.000,1.0,animal_waste
3025,United States,Animal waste - Consumption by commerce and pub...,2007,Terajoules,57380.000,1.0,animal_waste
3026,United States,Animal waste - Consumption by commerce and pub...,2006,Terajoules,62860.000,1.0,animal_waste
3027,United States,Animal waste - Consumption by commerce and pub...,2005,Terajoules,70253.000,1.0,animal_waste
3028,United States,Animal waste - Consumption by commerce and pub...,2001,Terajoules,40094.000,1.0,animal_waste
3029,United States,Animal waste - Consumption by commerce and pub...,2000,Terajoules,52030.000,1.0,animal_waste
3030,United States,Animal waste - Consumption by commerce and pub...,1999,Terajoules,51423.000,1.0,animal_waste
3031,United States,Animal waste - Consumption by commerce and pub...,1998,Terajoules,47216.000,1.0,animal_waste
3032,United States,Animal waste - Consumption by commerce and pub...,1997,Terajoules,42099.000,1.0,animal_waste
3033,United States,Animal waste - Consumption by commerce and pub...,1996,Terajoules,45106.000,1.0,animal_waste
3034,United States,Animal waste - Consumption by commerce and pub...,1995,Terajoules,45106.000,1.0,animal_waste
3035,United States,Animal waste - Consumption by commerce and pub...,1994,Terajoules,44103.000,1.0,animal_waste
3036,Hungary,Animal waste - Consumption by food and tobacco,2014,Terajoules,87.000,1.0,animal_waste
...,...,...,...,...,...,...,...
1188886,Martinique,Electricity - total wind production,2013,"Kilowatt-hours, million",1.665,1.0,wind_electricity
1188887,Martinique,Electricity - total wind production,2012,"Kilowatt-hours, million",1.665,1.0,wind_electricity
1188888,Martinique,Electricity - total wind production,2011,"Kilowatt-hours, million",1.665,1.0,wind_electricity
1188889,Martinique,Electricity - total wind production,2010,"Kilowatt-hours, million",1.665,1.0,wind_electricity
1188890,Martinique,Electricity - total wind production,2009,"Kilowatt-hours, million",1.529,1.0,wind_electricity
1189092,Philippines,Electricity - total wind production,2005,"Kilowatt-hours, million",55.000,1.0,wind_electricity
1189157,Réunion,Electricity - total wind production,2008,"Kilowatt-hours, million",15.000,1.0,wind_electricity
1189158,Réunion,Electricity - total wind production,2007,"Kilowatt-hours, million",10.300,1.0,wind_electricity
1189159,Réunion,Electricity - total wind production,2006,"Kilowatt-hours, million",3.700,1.0,wind_electricity
1189270,St. Helena and Depend.,Electricity - total wind production,2014,"Kilowatt-hours, million",1.010,1.0,wind_electricity
1189277,St. Kitts-Nevis,Electricity - total wind production,2014,"Kilowatt-hours, million",8.000,1.0,wind_electricity
1189278,St. Kitts-Nevis,Electricity - total wind production,2013,"Kilowatt-hours, million",8.000,1.0,wind_electricity
1189283,St. Pierre-Miquelon,Electricity - total wind production,2014,"Kilowatt-hours, million",0.870,1.0,wind_electricity
1189284,St. Pierre-Miquelon,Electricity - total wind production,2013,"Kilowatt-hours, million",0.870,1.0,wind_electricity
1189290,St. Pierre-Miquelon,Electricity - total wind production,2007,"Kilowatt-hours, million",0.800,1.0,wind_electricity
1189291,St. Pierre-Miquelon,Electricity - total wind production,2006,"Kilowatt-hours, million",0.800,1.0,wind_electricity
1189292,St. Pierre-Miquelon,Electricity - total wind production,2005,"Kilowatt-hours, million",0.800,1.0,wind_electricity
1189293,St. Pierre-Miquelon,Electricity - total wind production,2004,"Kilowatt-hours, million",0.800,1.0,wind_electricity
1189294,St. Pierre-Miquelon,Electricity - total wind production,2003,"Kilowatt-hours, million",0.800,1.0,wind_electricity
1189295,St. Pierre-Miquelon,Electricity - total wind production,2002,"Kilowatt-hours, million",0.800,1.0,wind_electricity
1189296,St. Pierre-Miquelon,Electricity - total wind production,2001,"Kilowatt-hours, million",0.800,1.0,wind_electricity
1189297,St. Pierre-Miquelon,Electricity - total wind production,2000,"Kilowatt-hours, million",0.800,1.0,wind_electricity
1189344,Thailand,Electricity - total wind production,2012,"Kilowatt-hours, million",3.000,1.0,wind_electricity
1189345,Thailand,Electricity - total wind production,2011,"Kilowatt-hours, million",3.000,1.0,wind_electricity
1189468,Vanuatu,Electricity - total wind production,2014,"Kilowatt-hours, million",3.000,1.0,wind_electricity
1189469,Vanuatu,Electricity - total wind production,2013,"Kilowatt-hours, million",3.000,1.0,wind_electricity
1189471,Vanuatu,Electricity - total wind production,2011,"Kilowatt-hours, million",5.000,1.0,wind_electricity
1189475,Viet Nam,Electricity - total wind production,2014,"Kilowatt-hours, million",300.000,1.0,wind_electricity
1189476,Viet Nam,Electricity - total wind production,2013,"Kilowatt-hours, million",92.000,1.0,wind_electricity
1189477,Viet Nam,Electricity - total wind production,2012,"Kilowatt-hours, million",92.000,1.0,wind_electricity

In [10]:
edf.category.value_counts()

total_electricity                                              133916
gas_oil_diesel_oil                                              97645
fuel_oil                                                        75132
natural_gas_including_lng                                       64161
liquified_petroleum_gas                                         62156
motor_gasoline                                                  53198
fuelwood                                                        52032
electricity_net_installed_capacity_of_electric_power_plants     50229
other_kerosene                                                  43466
hard_coal                                                       42307
kerosene_type_jet_fuel                                          34558
heat                                                            29656
charcoal                                                        28000
conventional_crude_oil                                          27352
other_bituminous_coal                                           23138
other_oil_products_n_e_c                                        22081
lubricants                                                      21374
bitumen                                                         20743
brown_coal                                                      19729
aviation_gasoline                                               18171
petroleum_coke                                                  16494
naphtha                                                         15969
refinery_gas                                                    15706
other_vegetal_material_and_residues                             13959
bagasse                                                         12579
lignite                                                         12461
blast_furnace_gas                                               11963
coke_oven_coke                                                  11846
biogases                                                        10885
white_spirit_and_special_boiling_point_industrial_spirits       10079
                                                                ...
peat                                                             5313
anthracite                                                       4894
biodiesel                                                        4568
black_liquor                                                     4154
biogasoline                                                      3871
hydro                                                            3744
direct_use_of_solar_thermal_heat                                 3649
patent_fuel                                                      3235
additives_and_oxygenates                                         3018
of_which_biodiesel                                               2624
direct_use_of_geothermal_heat                                    2436
coal_tar                                                         2245
of_which_biogasoline                                             2170
other_recovered_gases                                            2105
ethane                                                           2014
other_hydrocarbons                                               1962
animal_waste                                                     1922
peat_products                                                    1707
other_liquid_biofuels                                            1617
wind_electricity                                                 1367
gasoline_type_jet_fuel                                           1293
falling_water                                                     962
solar_electricity                                                 953
oil_shale_oil_sands                                               756
nuclear_electricity                                               756
uranium                                                           684
geothermal                                                        496
gas_coke                                                          365
other_coal_products                                               105
tide_wave_and_ocean_electricity                                    58
Name: category, Length: 71, dtype: int64

In [11]:
edf.commodity_transaction.value_counts()

From combustible fuels – Main activity                                                               6601
Electricity - Gross demand                                                                           5532
Electricity - Gross production                                                                       5523
Electricity - total production, main activity                                                        5523
Electricity - net production                                                                         5523
Electricity - Own use by electricity, heat and CHP plants                                            5523
Electricity - total net installed capacity of electric power plants, main activity                   5521
Electricity - total net installed capacity of electric power plants, main activity & autoproducer    5521
Electricity - Final energy consumption                                                               5499
Electricity - Consumption by other                                                                   5491
Electricity - total thermal production                                                               5489
Electricity - total net installed capacity of electric power plants, combustible fuels               5487
Electricity - net installed capacity of electric power plants, public combustible fuels              5478
Gas Oil/ Diesel Oil - Total energy supply                                                            5362
Motor Gasoline - Total energy supply                                                                 5295
Motor Gasoline - Final consumption                                                                   5266
Motor Gasoline - Final energy consumption                                                            5266
Motor Gasoline - Consumption by transport                                                            5258
Gas Oil/ Diesel Oil - Final consumption                                                              5241
Gas Oil/ Diesel Oil - Final energy consumption                                                       5240
Electricity - Consumption by households                                                              5180
Electricity - Losses                                                                                 5168
Motor Gasoline - Consumption in road                                                                 5156
Gas Oil/ Diesel Oil - Imports                                                                        5153
Motor Gasoline - Imports                                                                             5034
Gas Oil/ Diesel Oil - Consumption by transport                                                       4955
Fuelwood - Total energy supply                                                                       4910
Kerosene-type Jet Fuel - Total energy supply                                                         4884
Fuelwood - Final consumption                                                                         4736
Fuelwood - Final energy consumption                                                                  4736
                                                                                                     ...
Lubricants - Consumption by non-metallic minerals                                                       1
Peat Products - Consumption by non-ferrous metals                                                       1
Blast Furnace Gas - Consumption by food and tobacco                                                     1
Naphtha - Consumption by commerce and public services                                                   1
Bitumen - Consumption by mining and quarrying                                                           1
Charcoal - Consumption by paper, pulp and print                                                         1
Patent fuel - Consumption by textile and leather                                                        1
Patent fuel - consumption by transport                                                                  1
Lubricants - Consumption by machinery                                                                   1
Lignite - Consumption by domestic navigation                                                            1
Paraffin waxes - Consumption by transport equipment                                                     1
Paraffin waxes - Consumption by machinery                                                               1
Refinery gas - Transformation in coke ovens                                                             1
White spirit and special boiling point industrial spirits - Consumption by non-ferrous metals           1
Other bituminous coal - other transformation                                                            1
Kerosene-type Jet Fuel - Transformation in CHP plants - main activity producers                         1
Biogasoline - Consumption not elsewhere specified (transport)                                           1
Direct use of geothermal heat - Consumption by iron and steel                                           1
Lubricants - Receipts from other sources                                                                1
Biodiesel - Net transfers                                                                               1
Vegetal waste - Consumption by construction                                                             1
Patent fuel - own use in coal mines                                                                     1
Coking coal - consumption by wood and wood products industry                                            1
Coking coal - consumption by domestic navigation                                                        1
Paraffin waxes - Consumption by textile and leather                                                     1
Charcoal - Consumption by non-metallic minerals                                                         1
Other liquid biofuels - Transformation in heat plants - autoproducers                                   1
Blast Furnace Gas - Consumption by construction                                                         1
Charcoal - Consumption by non-ferrous metals                                                            1
Lubricants - Consumption by transport equipment                                                         1
Name: commodity_transaction, Length: 2452, dtype: int64

In [12]:
edf.commodity_transaction.unique()

array(['Additives and Oxygenates - Exports',
       'Additives and Oxygenates - Imports',
       'Additives and Oxygenates - Production', ...,
       'White spirit and special boiling point industrial spirits - Transformation',
       'White spirit and special boiling point industrial spirits - Transformation in petrochemical plants',
       'Electricity - total wind production'], dtype=object)

## Clean

In [13]:
edf_copy = edf.copy()

### define and code
* split column commodity_transaction on ' - ' using str.split(); return a dataframe, concatenate this data frame with the existing one

In [14]:
edf_split = edf_copy.commodity_transaction.str.split(pat=r'\s-\s', n=0, expand=True)

In [15]:
edf_split.columns = ['commodity', 'transaction', 'modifier']

In [16]:
edf_copy = pd.concat([edf_copy, edf_split], axis=1)

### Test

In [17]:
edf_copy.sample(10)

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category,commodity,transaction,modifier
1047522,India,Electricity - Consumption by households,2002,"Kilowatt-hours, million",83355.000000,NaN,total_electricity,Electricity,Consumption by households,None
1010393,Russian Federation,Refinery Gas - Consumption by commerce and pub...,2008,"Metric tons, thousand",20.000000,NaN,refinery_gas,Refinery Gas,Consumption by commerce and public services,None
343723,Honduras,Fuelwood - Consumption by other,1994,"Cubic metres, thousand",8022.000000,1.0,fuelwood,Fuelwood,Consumption by other,None
313084,Venezuela (Bolivar. Rep.),Fuel oil - production from refineries,2000,"Metric tons, thousand",13938.271605,NaN,fuel_oil,Fuel oil,production from refineries,None
302973,Israel,Fuel oil - International marine bunkers,1999,"Metric tons, thousand",93.000000,NaN,fuel_oil,Fuel oil,International marine bunkers,None
266779,Mexico,"Fuel oil - Consumption by manufacturing, const...",1993,"Metric tons, thousand",5177.000000,NaN,fuel_oil,Fuel oil,"Consumption by manufacturing, construction and...",None
619631,Georgia,Lignite - Total energy supply,2009,"Metric tons, thousand",168.000000,NaN,lignite,Lignite,Total energy supply,None
968788,India,"Vegetal waste - Transformation in electricity,...",2011,Terajoules,189684.000000,1.0,other_vegetal_material_and_residues,Vegetal waste,"Transformation in electricity, CHP and heat pl...",None
272103,Pakistan,Fuel oil - Consumption by other,2010,"Metric tons, thousand",4.013000,NaN,fuel_oil,Fuel oil,Consumption by other,None
1129915,Zambia,"Electricity - Own use by electricity, heat and...",2007,"Kilowatt-hours, million",237.000000,NaN,total_electricity,Electricity,"Own use by electricity, heat and CHP plants",None

In [18]:
edf_copy[edf_copy.commodity.isnull()]

Empty DataFrame
Columns: [country_or_area, commodity_transaction, year, unit, quantity, quantity_footnotes, category, commodity, transaction, modifier]
Index: []

In [19]:
edf_copy[edf_copy.transaction.isnull()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41416 entries, 121420 to 1177351
Data columns (total 10 columns):
country_or_area          41416 non-null object
commodity_transaction    41416 non-null object
year                     41416 non-null int64
unit                     41416 non-null object
quantity                 41416 non-null float64
quantity_footnotes       3819 non-null float64
category                 41416 non-null object
commodity                41416 non-null object
transaction              0 non-null object
modifier                 0 non-null object
dtypes: float64(2), int64(1), object(7)
memory usage: 3.5+ MB

In [20]:
edf_copy[edf_copy.transaction.isnull()].sample(10)

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category,commodity,transaction,modifier
1169001,Lao People's Dem. Rep.,Solar photovoltaic – Autoproducer,2009,"Kilowatt-hours, million",193.3,1.0,total_electricity,Solar photovoltaic – Autoproducer,None,None
1161833,Albania,Hydro – Main activity,1996,"Kilowatt-hours, million",5726.0,NaN,total_electricity,Hydro – Main activity,None,None
1172391,El Salvador,Total refinery output,2005,"Metric tons, thousand",1041.0,NaN,total_refinery_output,Total refinery output,None,None
1174649,Azerbaijan,Total refinery throughput,1994,"Metric tons, thousand",10497.0,NaN,total_refinery_output,Total refinery throughput,None,None
1164651,Russian Federation,Hydro – Main activity,2000,"Kilowatt-hours, million",164412.0,NaN,total_electricity,Hydro – Main activity,None,None
1152817,Mexico,From combustible fuels – Main activity,2002,"Kilowatt-hours, million",161996.0,NaN,total_electricity,From combustible fuels – Main activity,None,None
1176373,Papua New Guinea,Total refinery throughput,2008,"Metric tons, thousand",804.0,NaN,total_refinery_output,Total refinery throughput,None,None
1167579,Switzerland,Of which: Pumped hydro – Main activity,2003,"Kilowatt-hours, million",2029.0,NaN,total_electricity,Of which: Pumped hydro – Main activity,None,None
1159949,Philippines,Geothermal – Main activity,2003,"Kilowatt-hours, million",9822.0,NaN,total_electricity,Geothermal – Main activity,None,None
1164349,Pakistan,Hydro – Main activity,2004,"Kilowatt-hours, million",25671.0,NaN,total_electricity,Hydro – Main activity,None,None

## Assess
* there is an issue with the split method, not splitting on what appear to be ' - ', the probelm rows have None as transaction in edf_copy, for this subest the index object will be used to find them in the original edf dataframe

In [21]:
problems = edf.loc[edf_copy[edf_copy.transaction.isnull()].index]

In [22]:
problems.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41416 entries, 121420 to 1177351
Data columns (total 7 columns):
country_or_area          41416 non-null object
commodity_transaction    41416 non-null object
year                     41416 non-null int64
unit                     41416 non-null object
quantity                 41416 non-null float64
quantity_footnotes       3819 non-null float64
category                 41416 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 2.5+ MB

In [23]:
problems.commodity_transaction.value_counts()

From combustible fuels – Main activity                         6601
From combustible fuels – Autoproducer                          4234
Hydro – Main activity                                          3708
Total refinery throughput                                      2893
Total refinery output                                          2890
From combustible fuels – Main activity – Electricity plants    2785
From combustible fuels – Main activity – CHP plants            1878
From combustible fuels – Autoproducer – Electricity plants     1781
From combustible fuels – Autoproducer – CHP plants             1499
Hydro – Autoproducer                                           1331
Wind – Main activity                                           1277
Nuclear – Main activity                                         909
From combustible fuels – Main activity – Heat plants            851
Solar – Main activity                                           696
Geothermal – Main activity                                      681
Of which: Pumped hydro – Main activity                          662
Solar photovoltaic – Main activity                              567
Nuclear – Main activity – Electricity plants                    548
From combustible fuels – Autoproducer – Heat plants             490
Solar – Autoproducer                                            459
Solar photovoltaic – Autoproducer                               407
Lignite brown coal- recoverable resources                       406
Wind – Autoproducer                                             404
Geothermal – Main activity – Electricity plants                 347
From other sources – Autoproducer                               296
From other sources – Main activity                              220
Geothermal – Main activity – Heat plants                        195
From electric boilers – Main activity                           182
Nuclear – Main activity – CHP plants                            174
Geothermal – Autoproducer                                       145
From chemical sources – Autoproducer                            144
From other sources – Autoproducer – CHP plants                  143
From other sources – Main activity – Electricity plants         140
From heat pumps – Main activity                                 135
Solar thermal – Main activity                                   121
From chemical heat – Autoproducer                               111
From other sources – Autoproducer – Electricity plants          108
From chemical sources – Autoproducer – Heat plants              108
From other sources – Autoproducer – Heat plants                  95
From chemical heat – Autoproducer – Electricity plants           83
Of which: Pumped hydro – Autoproducer                            69
From chemical heat – Autoproducer – CHP plants                   61
From chemical sources – Autoproducer – CHP plants                61
From other sources – Main activity – Heat plants                 61
From other sources – Main activity – CHP plants                  56
Geothermal – Autoproducer – Heat plants                          54
Geothermal – Autoproducer – Electricity plants                   53
Tide, wave and marine – Main activity                            52
Geothermal – Main activity – CHP plants                          49
Solar thermal – Autoproducer                                     42
Nuclear – Autoproducer                                           34
Geothermal – Autoproducer – CHP plants                           29
Nuclear – Autoproducer – Electricity plants                      28
From chemical heat – Main activity                               19
From chemical heat – Main activity – CHP plants                  19
From chemical heat – Main activity – Electricity plants          14
Tide, wave and marine – Autoproducer                              6
Nuclear – Autoproducer – CHP plants                               5
Name: commodity_transaction, dtype: int64

In [24]:
problems.sample(10)

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
1164018,Mexico,Hydro – Main activity,1999,"Kilowatt-hours, million",32714.0,NaN,total_electricity
1154765,United Arab Emirates,From combustible fuels – Main activity,2006,"Kilowatt-hours, million",66768.0,NaN,total_electricity
1171858,Belgium,Total refinery output,1997,"Metric tons, thousand",36644.0,NaN,total_refinery_output
1150215,Bolivia (Plur. State of),From combustible fuels – Main activity,1992,"Kilowatt-hours, million",1106.0,NaN,total_electricity
1144945,Japan,From combustible fuels – Autoproducer,2010,"Kilowatt-hours, million",141561.0,NaN,total_electricity
1176122,Myanmar,Total refinery throughput,1994,"Metric tons, thousand",879.0,NaN,total_refinery_output
1148226,Côte d'Ivoire,From combustible fuels – Autoproducer – Electr...,2013,"Kilowatt-hours, million",70.0,NaN,total_electricity
534709,Bulgaria,From combustible fuels – Autoproducer – CHP pl...,2014,Terajoules,87.0,NaN,heat
1144153,Dem. Rep. of the Congo,From combustible fuels – Autoproducer,2004,"Kilowatt-hours, million",0.0,1.0,total_electricity
1168949,Japan,Solar photovoltaic – Autoproducer,2009,"Kilowatt-hours, million",2758.0,NaN,total_electricity

In [25]:
ord(problems.loc[1160362].commodity_transaction.split()[1]) == ord('-')

False

In [26]:
ord(problems.loc[1160362].commodity_transaction.split()[1])

8211

In [27]:
ord('-')

45

In [28]:
ord('-')

45

In [29]:
problems.loc[1160362].commodity_transaction.replace(chr(8211), '-').split(r'-')

['Geothermal ', ' Main activity ', ' Electricity plants']

### findings
* the issue is that what appears to be a hyphen in some rows in the commodity_transaction column is in fact an em-dash
* also noticed previously, an em-dash or hyphen is not always preceeded by white space

## Clean

### define and code
* reconstruct the edf_copy data frame from the original

In [30]:
edf_copy = edf.copy()

### define and code
* replace the em-dash with hyphen in the commodity transaction column (this approach seemed more straighforward than trying to match a hyphen or an em-dash in with str.split and a regex)
* split column commodity_transaction on hyphen or dash using str.split(); return a dataframe, concatenate this data frame with the existing one

In [31]:
edf_copy.commodity_transaction = edf_copy.commodity_transaction.str.replace(chr(8211), '-')

In [32]:
edf_split = edf_copy.commodity_transaction.str.split(pat=r'\s*[-]\s', n=0, expand=True)

In [33]:
edf_split.columns = ['commodity', 'transaction', 'modifier']

In [34]:
edf_copy = pd.concat([edf_copy, edf_split], axis=1)

### test

In [35]:
edf_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 10 columns):
country_or_area          1189482 non-null object
commodity_transaction    1189482 non-null object
year                     1189482 non-null int64
unit                     1189482 non-null object
quantity                 1189482 non-null float64
quantity_footnotes       163946 non-null float64
category                 1189482 non-null object
commodity                1189482 non-null object
transaction              1183699 non-null object
modifier                 47472 non-null object
dtypes: float64(2), int64(1), object(7)
memory usage: 90.8+ MB

In [36]:
edf_copy.modifier.value_counts()

main activity producers    17227
autoproducers              15226
Electricity plants          5887
CHP plants                  3974
Heat plants                 1854
Total                       1507
Main activity producers     1235
Autoproducers                562
Name: modifier, dtype: int64

In [37]:
edf_copy.transaction.value_counts()

Total energy supply                                                                  77769
Final energy consumption                                                             60878
Final consumption                                                                    60217
Production                                                                           50897
Imports                                                                              47001
Consumption by other                                                                 37780
Consumption by households                                                            27506
production from refineries                                                           26964
Exports                                                                              26328
Stock changes                                                                        24218
Transformation                                                                       24149
Main activity                                                                        22947
Consumption by transport                                                             20079
Transformation in electricity, CHP and heat plants                                   19494
Consumption by other manuf., const. and non-fuel ind.                                18716
Consumption by manufacturing, construction and non-fuel industry                     18684
Non-energy uses                                                                      16345
imports                                                                              14150
Energy industries own use                                                            13647
final consumption                                                                    12932
Autoproducer                                                                         12280
total energy supply                                                                  12037
Transformation in electricity plants                                                 11716
transformation                                                                       11576
Consumption in road                                                                  11268
Consumption not elsewhere specified (other)                                          10780
Consumption in agriculture, forestry and fishing                                     10360
production                                                                           10232
Consumption by commerce and public services                                           9840
exports                                                                               9724
                                                                                     ...
own use by blast furnaces                                                               32
Own use by coal liquefaction plants                                                     30
Own use by other energy producers                                                       27
international marine bunkers                                                            26
Own use in coal mines                                                                   25
Transformation in coal liquefaction plants                                              23
consumption by other transportation                                                     23
conversion in briquetting plants                                                        22
net installed capacity of electric power plants, self-producer tide, wave, marine       16
consumption by chemical and petrochemicalindustry                                       16
own use in electricity, CHP and heat plants                                             13
other reserves                                                                          12
own use by coal liquefaction plants                                                     10
consumption by other consumers not elsewhere specified                                  10
Consumption by electricity, CHP and heat plants                                          9
Transformatin in gas works                                                               9
Own use in coke ovens                                                                    9
Memo: Opening stock level (national territory)                                           8
Own use by gas-to-liquid (GTL) plants                                                    8
Memo: Closing stock level (national territory)                                           8
Consumption by briquetting plants                                                        6
Conversion in blast furnaces                                                             6
Other transformation processes not elsewhere classified                                  4
Consumption by LNG/regasification plants                                                 3
Own use by charcoal plants                                                               3
 Transformation in natural gas blending plants                                           3
own use by gasworks                                                                      2
Net transfers                                                                            1
own use in coal mines                                                                    1
non energy uses                                                                          1
Name: transaction, Length: 322, dtype: int64

### define and code
* drop the commodity_transaction column

In [38]:
edf_copy.drop(['commodity_transaction'], axis=1, inplace=True)

### test

In [39]:
edf_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 9 columns):
country_or_area       1189482 non-null object
year                  1189482 non-null int64
unit                  1189482 non-null object
quantity              1189482 non-null float64
quantity_footnotes    163946 non-null float64
category              1189482 non-null object
commodity             1189482 non-null object
transaction           1183699 non-null object
modifier              47472 non-null object
dtypes: float64(2), int64(1), object(6)
memory usage: 81.7+ MB

### define and code
* relace the unit strings

In [40]:
edf_copy['unit'] = edf_copy.unit.str.replace('Metric tons,  thousand', 'thousand metric tons')
edf_copy['unit'] = edf_copy.unit.str.replace('Kilowatt-hours, million', 'million kilowatt-hours')
edf_copy['unit'] = edf_copy.unit.str.replace('Cubic metres, thousand', 'thousand cubic meters')
edf_copy['unit'] = edf_copy.unit.str.replace('Kilowatts,  thousand', 'thousand kilowatts')
edf_copy['unit'] = edf_copy.unit.str.replace('Metric Tons', 'metric tons')
edf_copy['unit'] = edf_copy.unit.str.replace('Terajoules', 'terajoules')

### test

In [41]:
edf_copy.unit.value_counts()

thousand metric tons      759859
terajoules                178937
million kilowatt-hours    147741
thousand cubic meters      52032
thousand kilowatts         50229
metric tons                  684
Name: unit, dtype: int64

### define and code
* convert the year column to datetime using pd.to_datetime(series, format), change the month and day to december 31st or all year entries using datetime.replace

In [42]:
edf_copy['year'] = pd.to_datetime(edf_copy['year'], format='%Y')

In [43]:
edf_copy['year'] = edf_copy['year'].apply(lambda dt: dt.replace(day=31, month=12))

### test

In [44]:
edf_copy.dtypes

country_or_area               object
year                  datetime64[ns]
unit                          object
quantity                     float64
quantity_footnotes           float64
category                      object
commodity                     object
transaction                   object
modifier                      object
dtype: object

### define and code
* convert the unit columns data type to category

In [45]:
edf_copy['unit'] = edf_copy['unit'].astype('category')

### test

In [46]:
edf_copy.dtypes

country_or_area               object
year                  datetime64[ns]
unit                        category
quantity                     float64
quantity_footnotes           float64
category                      object
commodity                     object
transaction                   object
modifier                      object
dtype: object

In [47]:
edf_copy.unit.value_counts()

thousand metric tons      759859
terajoules                178937
million kilowatt-hours    147741
thousand cubic meters      52032
thousand kilowatts         50229
metric tons                  684
Name: unit, dtype: int64

## Assess

In [48]:
edf_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 9 columns):
country_or_area       1189482 non-null object
year                  1189482 non-null datetime64[ns]
unit                  1189482 non-null category
quantity              1189482 non-null float64
quantity_footnotes    163946 non-null float64
category              1189482 non-null object
commodity             1189482 non-null object
transaction           1183699 non-null object
modifier              47472 non-null object
dtypes: category(1), datetime64[ns](1), float64(2), object(5)
memory usage: 73.7+ MB

In [50]:
edf_copy.category = edf_copy.category.str.replace('_', ' ')

In [51]:
edf_copy.category = edf_copy.category.str.strip()

In [52]:
edf_copy.commodity = edf_copy.commodity.str.strip().str.lower()

In [53]:
edf_copy.transaction = edf_copy.transaction.str.strip().str.lower()

In [54]:
edf_copy.modifier = edf_copy.modifier.str.strip().str.lower()

### test

In [55]:
edf_copy.head(5)

,country_or_area,year,unit,quantity,quantity_footnotes,category,commodity,transaction,modifier
0,Austria,1996-12-31,thousand metric tons,5.0,NaN,additives and oxygenates,additives and oxygenates,exports,None
1,Austria,1995-12-31,thousand metric tons,17.0,NaN,additives and oxygenates,additives and oxygenates,exports,None
2,Belgium,2014-12-31,thousand metric tons,0.0,NaN,additives and oxygenates,additives and oxygenates,exports,None
3,Belgium,2013-12-31,thousand metric tons,0.0,NaN,additives and oxygenates,additives and oxygenates,exports,None
4,Belgium,2012-12-31,thousand metric tons,35.0,NaN,additives and oxygenates,additives and oxygenates,exports,None

## Assess
* I want to compare the category and commodity columns across the rows

In [56]:
edf_copy[(edf_copy.category != edf_copy.commodity)].shape

(543346, 9)

In [57]:
edf_copy[(edf_copy.category.str.contains('coal'))].category.value_counts()

hard coal                42307
charcoal                 28000
other bituminous coal    23138
brown coal               19729
coking coal               6470
brown coal briquettes     5903
sub bituminous coal       5405
coal tar                  2245
other coal products        105
Name: category, dtype: int64

In [58]:
edf_copy[edf_copy.commodity.str.contains('coal')].commodity.value_counts()

hard coal                40214
charcoal                 28000
other bituminous coal    23138
brown coal               18616
coking coal               6470
brown coal briquettes     5903
sub-bituminous coal       5405
coal tar                  2245
coal                      1198
lignite brown coal        1113
hrad coal                  895
other coal products        105
Name: commodity, dtype: int64

In [59]:
edf_copy[edf_copy.quantity_footnotes.notnull()].country_or_area.describe()

count     163946
unique       242
top       Malawi
freq        2247
Name: country_or_area, dtype: object

In [60]:
edf_copy.commodity.value_counts()

electricity                      165140
gas oil/ diesel oil               97645
fuel oil                          75132
natural gas (including lng)       64161
motor gasoline                    53198
fuelwood                          52032
liquefied petroleum gas (lpg)     49078
other kerosene                    43466
hard coal                         40214
kerosene-type jet fuel            34558
charcoal                          28000
other bituminous coal             23138
other oil products n.e.c.         22081
lubricants                        21374
conventional crude oil            21160
heat                              21116
bitumen                           20743
from combustible fuels            20119
brown coal                        18616
aviation gasoline                 18171
petroleum coke                    16494
naphtha                           15969
refinery gas                      15706
vegetal waste                     13959
liquified petroleum gas (lpg)     13078
bagasse                           12579
lignite                           12461
blast furnace gas                 11963
coke oven gas                     11846
biogases                          10885
                                  ...
ethane                             2014
other hydrocarbons                 1962
animal waste                       1922
heat production                    1877
peat products                      1707
nuclear                            1698
wind                               1681
other liquid biofuels              1617
geothermal                         1553
gasoline-type jet fuel             1293
coal                               1198
solar                              1155
peat (for fuel use)                1154
from other sources                 1119
lignite brown coal                 1113
solar photovoltaic                  974
falling water                       962
hrad coal                           895
oil shale                           756
of which: pumped hydro              731
uranium                             684
gas coke                            365
from chemical sources               313
from chemical heat                  307
from electric boilers               182
solar thermal                       163
from heat pumps                     135
other coal products                 105
tide, wave and marine                58
municipal waste                       3
Name: commodity, Length: 88, dtype: int64

### Findings
* there are 163,946 records (1,189,482 total, around 13% of the data) that have non-null quantity foot notes. Refering to the UN data portal (where this data was obtained) it seems that this means that the quantity figure was an estimate. There is no infomation on the confidence of the estimate
* lignite is brown coal, this can be addressed in the commodity column
* hrad coal enteries can be replaced with hard coal

## Clean

### define and code
* relace 'hrad coal in commodity column with 'hard coal' using the str.replace method, and 'lignite brown coal' with 'brown coal' in the same column using the same method

In [61]:
edf_copy.commodity = edf_copy.commodity.str.replace('hrad coal', 'hard coal')
edf_copy.commodity = edf_copy.commodity.str.replace('lignite brown coal', 'brown coal')

### test

In [62]:
edf_copy[edf_copy.commodity.str.contains('coal')].commodity.value_counts()

hard coal                41109
charcoal                 28000
other bituminous coal    23138
brown coal               19729
coking coal               6470
brown coal briquettes     5903
sub-bituminous coal       5405
coal tar                  2245
coal                      1198
other coal products        105
Name: commodity, dtype: int64

### define and code
* drop the quantity foot notes column

In [63]:
del edf_copy['quantity_footnotes']

### test

In [64]:
edf_copy.columns

Index(['country_or_area', 'year', 'unit', 'quantity', 'category', 'commodity',
       'transaction', 'modifier'],
      dtype='object')

## Store

In [65]:
edf_copy.to_csv('energy_p3.csv', index=False)

In [76]:
with open('dtypes.pickle', 'wb') as fileobj:
    pickle.dump(edf_copy.dtypes.to_dict(), fileobj, protocol=pickle.HIGHEST_PROTOCOL)